.box {
    display: inline-block;
  }
  
  .progress {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .progress > .inner {
    position: absolute;
    color: red; 
  }
  
  .progress > svg {
    height: 100%;
    display: block;
  }

  .cameraBattery{
    display: flex;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .card .title {
    color: grey;
    font-size: 18px;
  }
  
  .card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 13px;
  }
  
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .card button:hover, a:hover {
    opacity: 0.7;
  }

  @media (max-width: 568px) { /* adjust to your needs */
    .cameraBattery {flex-direction: column} /* stacks them vertically */
    .card:first-child {order: 1} /* down 1 spot */
    .card:last-child {order: -1} /* up 1 spot */
    /* "order: 0" is by default, therefore :nth-child(2) stays where it is */
    /* the order property only works with flexbox or grid */
  }