{% load filter %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/metisMenu.min.css'%}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'css/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'css/dataTables/dataTables.responsive.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/startmin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/battery-level.css' %}" rel="stylesheet" type="text/css">

</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ app.2 }}</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Top Navigation: Left Menu -->
        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <!-- <li class="dropdown navbar-inverse"> -->
                <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a> -->
                <!-- <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul> -->
            <!-- </li> -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{user.3}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="{% url 'onlineView' %}"> <i class="fa fa-television fa-fw"></i> View</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="./logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class=""><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'profile' %}" class=""><i class="fa fa-user fa-fw"></i> Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'camera' %}" class="active"><i class="fa fa-camera fa-fw"></i> Camera</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="clear"><br></div>
        <div class="row">
            <br>
            <div id="battery-content" class="cameraBattery"></div>
    
        </div>

        <br>
        <div class="row">
                <div class="chart col-lg-12 col-sm-12 center">
                    <!-- <button id="change">Click to change the format</button> -->
                    <div id="chart_div" class="chart"></div>
                </div>
        </div>
    </div>

</div>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
    
</footer>
<!-- Footer -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'js/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<!-- <script src="{% static 'js/startmin.js' %}"></script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
<script src="{% static 'js/progressbar.js' %}"></script>

<script type="text/javascript" src="{% static 'js/graphCal/images.js' %}"></script>

<script>

var content = '';
var dist_camera_id = [];

{% for x in camera %}
    if(dist_camera_id.length == 0) {
        content += '<div class="card" id="{{x.1}}"><div class="progress" id="progress' + {{x.1}} + '"><div class="inner">' + {{x.2}} +'%</div></div><h1></h1><p class="title">ID: ' + {{ x.1 }} + '</p><p> {{x.3 | date:"D d M Y" }}</p><p><button id="ipCamHost">{{ x.5 }}:8000</button></p></div>';
        dist_camera_id.push({{ x.1 }});
    }
    if(!dist_camera_id.includes({{x.1}})){
        content += '<div class="card" id="{{x.1}}"><div class="progress" id="progress' + {{x.1}} + '"><div class="inner">' + {{x.2}} +'%</div></div><h1></h1><p class="title">ID: ' + {{ x.1 }} + '</p><p> {{x.3 | date:"D d M Y" }}</p><p><button>{{ x.5 }}:8000</button></p></div>';
        dist_camera_id.push({{ x.1 }});
    }
{% endfor %}
document.getElementById('battery-content').innerHTML=content; 
// console.log(dist_camera_id);   

  function setBatteryLevel(level,id,col) {
  var progressBar = 
    new ProgressBar.Circle(id, {
      color: col,
      strokeWidth: 10,
      duration: 2000, // milliseconds
      easing: 'easeInOut'
    });

  progressBar.animate(level); // percent
};



</script>

<script>
    // setBatteryLevel('0.45','#progress','red');
    var dist_camera_id = [];
    {% for x in camera %}
        if(dist_camera_id.length == 0) {
            dist_camera_id.push({{ x.1 }});
            setBatteryLevel('0.'+{{x.2}},'#progress'+{{x.1}},'red');
        }
        if(!dist_camera_id.includes({{x.1}})){
            dist_camera_id.push({{ x.1 }});
            setBatteryLevel('0.'+{{x.2}},'#progress'+{{x.1}},'red');
        }
    {% endfor %}

    $(".card").click(function(e){
        var id = $(this).attr('id');
        var re = [];

    {% for x in camera %}
        if(id == {{x.1}}) {
            // console.log('{{x.3 | date:"c"}}');
            re.push([new Date('{{x.3 | date:"c"}}'), {{x.2}}]);
        }
        
    {% endfor %}
    // console.log(re);
    googleChart(re);

    });
    
</script>

<script>
 $("#ipCamHost").click(function(e){
    var url = $(this).text();
    // console.log(id);
    win = window.open("http://" + url, '_blank');
    win.focus();
 });
</script>

</body>
</html>
