{% load filter %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/metisMenu.min.css'%}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'css/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'css/dataTables/dataTables.responsive.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/startmin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{app.2}}</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Top Navigation: Left Menu -->
        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <!-- <li class="dropdown navbar-inverse"> -->
                <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a> -->
                <!-- <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul> -->
            <!-- </li> -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{user.3}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="./logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                     <li>
                        <a href="{% url 'index' %}" class=""><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'profile' %}" class="active"><i class="fa fa-user fa-fw"></i> Profile</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            </div>

            <!-- ... Your content goes here ... -->

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <img class="showPic" style="max-width: 100%; height: auto; " src="{% static 'images/camera/photo_2019-05-18_19-01.jpg' %}" alt="pic">
                    <!-- <p>Some text in the modal.</p> -->
                    <br><hr>
                        <div>
                            <form action="./update/" method="POST">
                                <div class="col-sm-12">
                                        {% csrf_token %}
                                    <!-- <span class="col-sm-2">User: </span> -->
                                    <input type="text" class="update-name hide" name="update_type" value="">
                                    <input type="text" class="query-id hide" name="query_id" value="">
                                    <input class="modal-user-name col-sm-8 btn" name="new_name" value="" >
                                    <input type="submit" name="" value="Change User" class="col-sm-4 btn btn-warning">
                                </div>
                                
                            </form>
                            
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
                </div>
            </div>
            
            <div>
                {{app}}
                {{user}}
            </div>

            <div>
                {% for image in images %}
                    <li>
                        {{image}}
                    </li>
                {% endfor %}
            </div>
            <div>
                {{states}}
            </div>
           
                
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="#state_trigger">0</div>
                                    <div>Triggers!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" onclick="search_trigeer(this.id)" id="Triggers">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="#state_detect">0</div>
                                    <div>Detected!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#allActivity" onclick="search_trigeer(this.id)" id="DETECTED">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-exclamation-circle fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="state_motion">0</div>
                                    <div>Motion!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#allActivity" onclick="search_trigeer(this.id)" id="MOTION">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-question fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="#state_unknown">0</div>
                                    <div>Unknown!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#allActivity" onclick="search_trigeer(this.id)" id="UNKNOWN">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="chart col-lg-8">
                    <!-- <button id="change">Click to change the format</button> -->
                    <div id="chart_div"></div>
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group" id="#not_panel">
                                
                            </div>
                            <!-- /.list-group -->
                            <a href="#allActivity" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <br>

            <div class="row">
                <div class="col-lg-12" id="allActivity">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Auto Trigger Type</th>
                                            <th>Captured Time</th>
                                            <th>Detected Name</th>
                                            <th>Image</th>
                                            <th style="display:none;">Hide</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                        {% for image in images %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td class="img-state">{{ states | return_item:image.7 }}</td>
                                                <td>{{image.3 | date:'Y-m-d H:i:s'}}</td>
                                                {% if image.10 == None %}
                                                    <td></td>
                                                {% else %}
                                                    <td class="tr-name">{{image.10}}</td>
                                                {% endif %}
                                                <td><button type="button" class="use-address btn btn-info"> More </button></td>
                                                <td style="display:none;" class="nr">{{image}}</td>
                                                
                                            </tr>
                                            
                                        {% endfor %}
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'js/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/startmin.js' %}"></script>

<!-- DataTables JavaScript -->
<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/graphCal/images.js' %}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
</script>

<script>
    $(".use-address").click(function() {
        var $row = $(this).closest("tr");    // Find the row
        var text = $row.find(".nr").text(); // Find the text
        text = text.substring(1, text.length - 1).split(",");

        //set src of image in modal
        url = text[14].substring(17, text[14].length - 1);
        name = text[2].substring(2, text[2].length-1);
        url = url.concat(name);
        src = "/static/";
        src = src.concat(url);

        //change title modal
        state = text[16];
        if(state==" 0") {
            $('.modal-title').text("MOTION");
        }else if(state==" 2"){
            $('.modal-title').text("DETECTED");
        }else{
            $('.modal-title').text("UNKNOWN");
        }

        //modal user name
        if(text[19] !=' None'){
            $('.update-name').attr('value',"trigger_name");
            $('.query-id').attr('value',parseInt(text[17], 10));
            $('.modal-user-name').attr('value',text[19].substr(2,text[19].length-3));
        }else{
            $('.update-name').attr('value',"add_trigger_name");
            $('.query-id').attr('value',parseInt(text[0], 10));
        }
  
        $('.showPic').attr('src', src);
        $('#myModal').modal('show');
    });
</script>

<script>

        $(document).ready(function() { 
            $(".tr-name").bind("click", function() { 
   
                $('#dataTables-example').DataTable().search(  $(this).text()).draw();
            }); 
        }); 

</script>
    

<script>
        //gets table
        var oTable = document.getElementById('dataTables-example');
    
        //gets rows of table
        var rowLength = oTable.rows.length;
        var all_days = [];

        var state_count = [0,0,0,0];

        //before month
        var date = new Date();
        var bfm = new Date(date.getTime());
        bfm.setDate(date.getDate() - 30);
      
        //yesterday
        var yesterday = new Date(date.getTime());
        yesterday.setDate(date.getDate() - 1);

        var tmp = 0;
        var notView = "";
        //loops through rows    
        for (i = 1; i < rowLength; i++){
    
          //gets cells of current row  
            var oCells = oTable.rows.item(i).cells;
            var day = oCells.item(2).innerHTML;
            var state = oCells.item(1).innerHTML;
            var last_time;

            if(new Date(day) - bfm > 0){
                console.log(state);
                switch(state){
                    case "MOTION": 
                        state_count[0] += 1;
                        break;
                    case "UNKNOWN": 
                        state_count[1] += 1;
                        break;
                    case "DETECTED": 
                        state_count[2] += 1;
                        break;
                }
                state_count[3] += 1;
            }

            if(new Date(day) - yesterday > 0 && tmp < 10){
                notView += '<a href="#" class="list-group-item"><i class="fa fa-comment fa-fw"></i> ';
                notView += oCells.item(3).innerHTML;
                notView += '<span class="pull-right text-muted small"><em>';
                late_time = new Date()- new Date(day);
                console.log(late_time);
                if(late_time > 1000 * 60 * 60){
                    notView += Math.round(late_time/(1000 * 3600)) + " hours ago";
                }else{
                    notView += Math.round(late_time/(1000 * 3600 * 60)) + " minutes ago";
                }
                 
                notView += '</em></span></a>';
                tmp++;
            }
                
            all_days.push(day.substring(0,day.length-11));
        }
        
        googleChart(count(all_days));

        if(state_count[3]) document.getElementById("#state_trigger").innerHTML = state_count[3];
        if(state_count[2]) document.getElementById("#state_detect").innerHTML = state_count[2];
        if(state_count[1]) document.getElementById("#state_unknown").innerHTML = state_count[1];
        if(state_count[0]) document.getElementById("#state_motion").innerHTML = state_count[0];
        
        console.log(new Date().getDate());//not_panel
        if(notView) document.getElementById("#not_panel").innerHTML = notView;
        // var date_count = count(all_days);
</script>


</body>
</html>
